
@{
    ViewData["Title"] = "Forgot password";
}
@model ForgotPasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <form method="post">
                <div class="login-form">
                    <h4 class="login-title">Forgot password</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Email</label>
                            <input asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                Send link
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

