
@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <form method="post">
                <div class="login-form">
                    <h4 class="login-title">Reset Password</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>New password</label>
                            <input asp-for="NewPassword" placeholder="New password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label>Confirm new password</label>
                            <input asp-for="ConfirmNewPassword" placeholder="Confirm new password">
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                                Reset password
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

